@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/modern-normalize@1.0.0/modern-normalize.min.css");
.marker,
.contacts,
.project-link,
.list {
  text-decoration: none;
  list-style: none;
}

ul,
.headers,
.company-name,
.learning-period,
.specialization,
.name {
  margin: 0;
  padding: 0;
}

.aside-headers {
  margin: 0;
  font-size: 10px;
  font-weight: 500;
}

.list {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 8px;
}

@media screen and (min-width: 768px) {
  .list {
    padding-left: 15px;
  }
}

.list.marker::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 25%;
  background-color: #38264b;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

@media screen and (min-width: 768px) {
  .list.marker::before {
    width: 7px;
    height: 7px;
  }
}

@media screen and (min-width: 1200px) {
  .list.marker::before {
    width: 10px;
    height: 10px;
  }
}

.project.list.marker::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 44%;
  background-color: #464547;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .project.list.marker::before {
    width: 7px;
    height: 7px;
  }
}

@media screen and (min-width: 1200px) {
  .project.list.marker::before {
    width: 10px;
    height: 10px;
  }
}

body {
  padding: 15px;
  background: #f5f7fa;
  font-family: "Roboto", sans-serif;
}

.container {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.my-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

@media screen and (min-width: 480px) {
  .my-photo {
    width: 120px;
  }
}

@media screen and (min-width: 768px) {
  .my-photo {
    width: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .my-photo {
    width: 290px;
  }
}

.name {
  font-size: 15px;
  color: #061e61;
}

@media screen and (min-width: 768px) {
  .name {
    width: 768px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .name {
    width: 1200px;
    font-size: 30px;
  }
}

.contacts-container {
  padding: 5px;
}

@media screen and (min-width: 1200px) {
  .contacts-container {
    padding: 10px;
  }
}

.contact-title {
  display: inline-block;
  margin-bottom: 15px;
  width: 45px;
}

.contacts {
  display: inline-block;
  padding: 10px 0;
  margin-bottom: 5px;
  color: white;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover, .contacts:focus {
  color: #012141;
}

.contacts {
  font-size: 7px;
  display: inline-block;
  padding: 5px 0;
  margin-bottom: 5px;
  color: white;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover, .contacts:focus {
  color: #012141;
}

@media screen and (min-width: 1200px) {
  .contacts {
    font-size: 17px;
  }
}

.side-bar-container {
  width: 100px;
  padding: 12px 0px;
  background-color: #1b32726b;
  border-radius: 15px;
}

@media screen and (min-width: 480px) {
  .side-bar-container {
    width: 120px;
  }
}

@media screen and (min-width: 768px) {
  .side-bar-container {
    width: 140px;
    padding: 20px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .side-bar-container {
    width: 290px;
    padding: 40px 0px;
  }
}

.aside-headers {
  margin-bottom: 7px;
  font-size: 10px;
  color: #061e61;
}

@media screen and (min-width: 768px) {
  .aside-headers {
    font-size: 17px;
    margin-bottom: 10px;
  }
}

.skills-container {
  padding: 5px 5px;
}

@media screen and (min-width: 768px) {
  .skills-container {
    padding: 7px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .skills-container {
    padding: 10px 20px;
  }
}

.list {
  margin-bottom: 5px;
  font-size: 9px;
}

@media screen and (min-width: 768px) {
  .list {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .list {
    font-size: 17px;
  }
}

.expirience {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .expirience {
    padding: 15px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .expirience {
    padding: 50px 40px;
  }
}

.main-text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 768px) {
  .main-text {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .main-text {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

.desired-position {
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .desired-position {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .desired-position {
    margin-bottom: 25px;
    font-size: 30px;
  }
}

.headers {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .headers {
    font-size: 20px;
  }
}

.projects-container {
  margin-bottom: 15px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 12px;
  width: 40%;
  padding: 5px;
  border-radius: 25px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover, .project-link:focus {
  color: white;
  background-color: #1b32726b;
}

@media screen and (min-width: 768px) {
  .project-link {
    padding: 20px 10px;
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .project-link {
    padding: 20px 10px;
    font-size: 17px;
  }
}

.used-stack {
  width: 80%;
  margin: 0;
  margin-left: 3px;
  padding: 5px;
  font-size: 9px;
}

@media screen and (min-width: 768px) {
  .used-stack {
    padding: 10px 0;
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .used-stack {
    font-size: 17px;
  }
}

.company-name {
  font-size: 10px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .company-name {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .company-name {
    font-size: 17px;
  }
}

.learning-period {
  font-size: 10px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .learning-period {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .learning-period {
    font-size: 17px;
  }
}

.courses-container {
  margin-bottom: 20px;
}

.education-container {
  margin-bottom: 20px;
}

.specialization {
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .specialization {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .specialization {
    font-size: 17px;
  }
}
/*# sourceMappingURL=main.css.map */