body {
  padding: 15px;
  background: $body-background-color;
  font-family: "Roboto", sans-serif;
}
.container {
  background: $main-background-color;
  display: flex;

  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow: 5px 9px 20px rgba(0.15, 0.15, 0.15, 0.15);
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.my-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  @media screen and (min-width: 480px) {
    width: 120px;
  }
  @media screen and (min-width: 768px) {
    width: 140px;
  }
  @media screen and (min-width: 1200px) {
    width: 290px;
  }
}
.name {
  font-size: 15px;

  @media screen and (min-width: 768px) {
    width: 768px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    font-size: 30px;
  }
  color: #061e61;
}
.contacts-container {
  padding: 5px;
  @media screen and (min-width: 1200px) {
    padding: 10px;
  }
}

.contact-title {
  display: inline-block;
  margin-bottom: 15px;
  width: 45px;
}
.contacts {
  display: inline-block;
  padding: 10px 0;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #012141;
  }
}

.contacts {
  font-size: 7px;
  display: inline-block;
  padding: 5px 0;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #012141;
  }

  @media screen and (min-width: 1200px) {
    font-size: 17px;
  }
}
.side-bar-container {
  width: 100px;
  @media screen and (min-width: 480px) {
    width: 120px;
  }
  @media screen and (min-width: 768px) {
    width: 140px;
  }
  @media screen and (min-width: 1200px) {
    width: 290px;
  }
  background-color: #1b32726b;
  padding: 40px 0px;
  border-radius: 15px;
}
.aside-headers {
  margin-bottom: 7px;
  font-size: 10px;
  color: #061e61;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    font-size: 17px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
  }
}
.skills-container {
  padding: 5px 5px;

  @media screen and (min-width: 768px) {
    padding: 7px 15px;
  }
  @media screen and (min-width: 1200px) {
    padding: 10px 20px;
  }
}
.list {
  margin-bottom: 5px;
  font-size: 9px;
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 17px;
  }
}
