.expirience {
  padding: 10px;

  @media screen and (min-width: 768px) {
    padding: 15px 20px;
  }
  @media screen and (min-width: 1200px) {
    padding: 50px 90px;
  }
}
.main-text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  @media screen and (min-width: 768px) {
    font-size: 17px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
.desired-position {
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 25px;
    font-size: 30px;
  }
}
.headers {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
.projects-container {
  margin-bottom: 15px;
}
.project {
  display: flex;
}
.project-link {
  display: flex;
  align-items: center;
  color: black;
  font-size: 12px;
  width: 40%;
  padding: 5px;
  border-radius: 25px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: white;
    background-color: #1b32726b;
  }
  @media screen and (min-width: 768px) {
    padding: 20px 10px;
    font-size: 17px;
  }
  @media screen and (min-width: 1200px) {
    padding: 20px 10px;
    font-size: 17px;
  }
}
.used-stack {
  width: 80%;
  margin: 0;
  margin-left: 3px;
  padding: 5px;
  font-size: 9px;
  @media screen and (min-width: 768px) {
    padding: 10px 0;
    font-size: 15px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 17px;
  }
}
.company-name {
  font-size: 10px;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 17px;
  }
}
.learning-period {
  font-size: 10px;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 17px;
  }
}
.courses-container {
  margin-bottom: 20px;
}
.education-container {
  margin-bottom: 20px;
}
.specialization {
  font-size: 10px;
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 17px;
  }
}
