.marker,
.contacts,
.project-link {
  text-decoration: none;
  list-style: none;
}

ul,
.headers,
.company-name,
.learning-period,
.specialization,
.name {
  margin: 0;
  padding: 0;
}
.aside-headers {
  margin: 0;
  font-size: 10px;
  font-weight: 500;
}
li {
  position: relative;
  margin: 0;
  padding: 0;

  padding-left: 8px;
  @media screen and (min-width: 768px) {
    padding-left: 15px;
  }
}
.list.marker::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 25%;
  background-color: rgb(56, 38, 75);
  border-radius: 50%;
  width: 5px;
  height: 5px;

  @media screen and (min-width: 768px) {
    width: 7px;
    height: 7px;
  }
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 10px;
  }
}

.project.list.marker::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 44%;
  background-color: rgb(70, 69, 71);
  width: 5px;
  height: 5px;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    width: 7px;
    height: 7px;
  }
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 10px;
  }
}
